<mat-nav-list>
    <a href="javascript:void(0)" mat-list-item (click)="updateMap(5)">
        <mat-icon aria-label="Side nav toggle icon">touch_app</mat-icon>
        <span mat-line>Click para aplicar filtros</span>
        <!-- <span mat-line>Enviar filtros CSV</span> -->
    </a>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <mat-form-field>
            <mat-label>Servicio</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="text-align: center;">
        <mat-form-field>
            <mat-label>Empresa</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="text-align: center;">
        <mat-form-field>
            <mat-label>Causas</mat-label>
            <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <!-- 
    <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Docs</span>
        <span mat-line>Embed in a document</span>
    </a>

    <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Plus</span>
        <span mat-line>Share with your friends</span>
    </a>

    <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Hangouts</span>
        <span mat-line>Show to your coworkers</span>
    </a> -->
</mat-nav-list>